player-connection-mode=Listen
player-connection-guid=1774684482
player-connection-debug=1
player-connection-project-name=CustomKeyboardReactor
player-connection-ip=10.166.192.182
player-connection-ip=192.168.0.6
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=d1e6bf7906bc48d7afe6d2344c58f27b
